@model IEnumerable<CarCRM.Models.Pagamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcelas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPagamentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPagamentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Excluido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(model => item.Parcelas)
            </td>
            <td>
                @Html.DisplayFor(model => item.DataVencimento)
            </td>
            <td>
                @Html.DisplayFor(model => item.DataPagamento)
            </td>
            <td>
                @Html.DisplayFor(model => item.StatusPagamentoId)
            </td>
            <td>
                @Html.DisplayFor(model => item.StatusPagamento)
            </td>
            <td>
                @Html.DisplayFor(model => item.MetodoPagamentoId)
            </td>
            <td>
                @Html.DisplayFor(model => item.MetodoPagamento)
            </td>
            <td>
                @Html.DisplayFor(model => item.CriadoEm)
            </td>
            <td>
                @Html.DisplayFor(model => item.Excluido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
