@model CarCRM.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="form-group">
                <label class="control-label">Nome</label>
                <input name="nome" value="@Model.Nome" class="form-control"  />
            </div>

            <div class="form-group">
                <label class="control-label">CPF</label>
                <input name="cpf" value="@Model.Pessoa.CPF" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label class="control-label">RG</label>
                <input name="rg" value="@Model.Pessoa.RG" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label class="control-label">Data de Nascimento</label>
                <input name="dataNascimento" value="@Model.Pessoa.DataNascimento.ToString("dd/MM/yyyy")" class="form-control" />
            </div>
            
            <div class="form-group">
                <label class="control-label">Email</label>
                <input name="email" value="@Model.Pessoa.Email" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label class="control-label">Ativo</label>
                <input name="ativo" type="checkbox" value="true" class="form-check-input" @(Model.Ativo ? "checked" : "") />
            </div>

            <div class="form-group">
                <label class="control-label">Perfil</label>
                @Html.DropDownList("perfilId",
                    new SelectList(ViewBag.Perfis, "Id", "Nome"),
                    new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
