@model IEnumerable<CarCRM.Models.Veiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilometragem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeiculoTipoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeiculoMarca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(model => item.Kilometragem)
            </td>
            <td>
                @Html.DisplayFor(model => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(model => item.PrecoCompra)
            </td>
            <td>
                @Html.DisplayFor(model => item.PrecoVenda)
            </td>
            <td>
                @Html.DisplayFor(model => item.CriadoEm)
            </td>
            <td>
                @Html.DisplayFor(model => item.FornecedorId)
            </td>
            <td>
                @Html.DisplayFor(model => item.VeiculoTipoId)
            </td>
            <td>
                @Html.DisplayFor(model => item.VeiculoMarca)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
