@model IEnumerable<CarCRM.Models.Comissao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Percentual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusComissaoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Percentual)
            </td>
            <td>
                @Html.DisplayFor(model => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(model => item.DataPagamento)
            </td>
            <td>
                @Html.DisplayFor(model => item.CriadoEm)
            </td>
            <td>
                @Html.DisplayFor(model => item.FuncionarioId)
            </td>
            <td>
                @Html.DisplayFor(model => item.VendaId)
            </td>
            <td>
                @Html.DisplayFor(model => item.StatusComissaoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
