@model IEnumerable<CarCRM.Models.Estoque>

@{
    ViewData["Title"] = "Index";
}

<h1>Estoques</h1>

<p>
    <a asp-action="Create">Novo Estoque</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Excluido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(model => item.CriadoEm)
            </td>
            <td>
                @Html.DisplayFor(model => item.Excluido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
