@model IEnumerable<CarCRM.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaJuridicaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorTipoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(model => item.CriadoEm)
            </td>
            <td>
                @Html.DisplayFor(model => item.PessoaJuridicaId)
            </td>
            <td>
                @Html.DisplayFor(model => item.FornecedorTipoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
