@model CarCRM.Models.Veiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Veiculo</h4>
    <hr />
    <dl>
        <dt class = "col-sm-2">
            Cor
        </dt>
        <dd class = "col-sm-10">
            @Model.VeiculoCor.Nome
        </dd>
        <dt class = "col-sm-2">
            Km
        </dt>
        <dd class = "col-sm-10">
            @Model.KilometragemAtual
        </dd>
        <dt class = "col-sm-2">
            Placa
        </dt>
        <dd class = "col-sm-10">
            @Model.Placa
        </dd>
        <dt class = "col-sm-2">
            Combustível
        </dt>
        <dd class = "col-sm-10">
            @Model.Combustivel
        </dd>
        <dt class = "col-sm-2">
            Motorização
        </dt>
        <dd class = "col-sm-10">
            @Model.Motorizacao
        </dd>
        <dt class = "col-sm-2">
            Ano Fabricação
        </dt>
        <dd class = "col-sm-10">
            @Model.AnoFabricacao
        </dd>
        <dt class = "col-sm-2">
            Ano Modelo
        </dt>
        <dd class = "col-sm-10">
            @Model.AnoFabricacao
        </dd>
        <dt class = "col-sm-2">
            Tipo
        </dt>
        <dd class = "col-sm-10">
            @Model.VeiculoTipo.Nome
        </dd>
        <dt class = "col-sm-2">
            Marca
        </dt>
        <dd class = "col-sm-10">
            @Model.VeiculoMarca.Nome
        </dd>
        <dt class = "col-sm-2">
            Criado Em
        </dt>
        <dd class = "col-sm-10">
            @Model.CriadoEm
        </dd>
        <dt class = "col-sm-2">
            Excluido
        </dt>
        <dd class = "col-sm-10">
            @(Model.Excluido ? "Sim" : "Não")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
