@model CarCRM.Models.Veiculo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Veiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label class="control-label">Cor</label>
                @Html.DropDownList("veiculoCorId",
                        new SelectList(ViewBag.veiculosCor, "Id", "Nome"),
                        new { @class = "form-control" })

            </div>
            <div class="form-group">
                <label class="control-label">Km</label>
                <input name="KilometragemAtual" value="@Model.KilometragemAtual" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Placa</label>
                <input name="Placa" value="@Model.Placa" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Combustível</label>
                <input name="Combustivel" value="@Model.Combustivel" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Motorização</label>
                <input name="Motorizacao" value="@Model.Motorizacao" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Ano Fabricação</label>
                <input name="AnoFabricacao" value="@Model.AnoFabricacao" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Ano Modelo</label>
                <input name="AnoModelo" value="@Model.AnoModelo" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Tipo</label>
                @Html.DropDownList("veiculoTipoId",
                        new SelectList(ViewBag.VeiculosTipo, "Id", "Nome"),
                        new { @class = "form-control" })

            </div>
            <div class="form-group">
                <label class="control-label">Marca</label>
                @Html.DropDownList("veiculoMarcaId",
                        new SelectList(ViewBag.VeiculosMarca, "Id", "Nome"),
                        new { @class = "form-control" })

            </div>
            <div class="form-group form-check">
                <label class="control-label">Excluído</label>
                <input name="excluido" type="checkbox" value="true" class="form-check-input" @(Model.Excluido ? "Checked" : "") />
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
