@model IEnumerable<CarCRM.Models.Veiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Veiculos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"> Novo <i class="bi bi-plus-lg"></i></a>
</p>
<table id="veiculoListaId" class="table table-striped">
    <thead>
        <tr>
            <th>Cor</th>
            <th>Km</th>
            <th>Placa</th>
            <th>Combustivel</th>
            <th>Motorização</th>
            <th>Ano Fabricação</th>
            <th>Ano Modelo</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Criado Em</th>
            <th>Excluido</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.VeiculoCor?.Nome
            </td>
            <td>
                @item.KilometragemAtual
            </td>
            <td>
                @item.Placa
            </td>
            <td>
                @item.Combustivel
            </td>
            <td>
                @item.Motorizacao
            </td>
            <td>
                @item.AnoFabricacao
            </td>
            <td>
                @item.AnoModelo
            </td>
            <td>
                @item.VeiculoTipo?.Nome
            </td>
            <td>
                @item.VeiculoMarca?.Nome
            </td>
            <td>
                @item.CriadoEm
            </td>
            <td>
                @item.Excluido
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" title="Editar">
                    <i class="bi bi-pencil-square"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes">
                    <i class="bi bi-eye"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir">
                    <i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {

        var table = new DataTable('#veiculoListaId', {
        language: {
        url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json',
        },
        layout: {
        topStart: 'info',
        bottom: 'paging',
        bottomStart: null,
        bottomEnd: null
        },
        });
        });

    </script>
}