@model IEnumerable<CarCRM.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"> Novo <i class="bi bi-plus-lg"></i></a>
</p>
<table id="clienteListaID" class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>CPF/CNPJ</th>
            <th>Excluido</th>
            <th>Criado Em</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@item.Pessoa.Nome</td>
                <td>@item.Pessoa.Email</td>
                <td>@foreach (var telefone in item.Pessoa.Telefones)
                    {
                        var numeroCompleto = "(" + telefone.DDD + ") " + telefone.Numero;
                        <span>@numeroCompleto</span> <br />
                    }
                </td>
                <td>@if (item.Pessoa is CarCRM.Models.PessoaFisica pf)
                    {
                        @pf.CPF
                    }
                    else if (item.Pessoa is CarCRM.Models.PessoaJuridica pj)
                    {
                        @pj.CNPJ
                    }
                </td>
                <td>@(item.Pessoa.Excluido ? "Sim" : "Não")</td>
                <td>@item.CriadoEm.ToString("dd/MM/yyyy HH:mm")</td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar">
                    <i class="bi bi-pencil-square"></i></a> 
                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes">
                        <i class="bi bi-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir">
                        <i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {

        var table = new DataTable('#clienteListaID', {
        language: {
        url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json',
        },
        layout: {
        topStart: 'info',
        bottom: 'paging',
        bottomStart: null,
        bottomEnd: null
        },
        });
        });

    </script>
}