@model CarCRM.Models.PessoaJuridica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PessoaJuridica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeInterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeInterno)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Excluido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Excluido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
