@model IEnumerable<CarCRM.Models.PessoaJuridica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.razaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeInterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.razaoSocial)
            </td>
            <td>
                @Html.DisplayFor(model => item.nomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(model => item.nomeInterno)
            </td>
            <td>
                @Html.DisplayFor(model => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(model => item.PessoaId)
            </td>
            <td>
                @Html.DisplayFor(model => item.TelefoneId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
